<script lang="ts" setup>
import {ref} from "vue";

const data = ref({})

/**
 * Get all MergeRequests and their authors from
 * https://gitlab.com/gitlab-org/project-templates/typo3-distribution/
 */
fetch('https://gitlab.com/api/graphql', {
  method: 'POST',

  headers: {
    "Content-Type": "application/json"
  },

  body: JSON.stringify({
    query: `{
      project(fullPath: "gitlab-org/project-templates/typo3-distribution") {
        mergeRequests {
          nodes {
            author {
              avatarUrl,
              username,
              name
            }
          }
          pageInfo {
            hasNextPage,
            hasPreviousPage,
          },
          count,
          totalTimeToMerge
        }
      }
    }`
  })
})
.then((response) => {
  return response.json()
})
.then((json) => {
  let merges = json.data.project.mergeRequests.nodes
  let contributors = {}
  let total = {}

  merges.forEach((mr) => {
    if(typeof total[mr.author.username] === 'undefined') {
      total[mr.author.username] = 1
    } else {
      total[mr.author.username] = total[mr.author.username] + 1
    }

    // The avatar URL is relative to gitlab.com
    let avatarUrl = '';
    try {
      new URL(mr.author.avatarUrl);
      avatarUrl = mr.author.avatarUrl
    } catch (e) {
      avatarUrl = 'https://www.gitlab.com' + mr.author.avatarUrl
    }

    contributors[mr.author.username] = {
      username: mr.author.username,
      avatarUrl: avatarUrl,
      total: total[mr.author.username]
    }
  })

  data.value = contributors
})

</script>

<template>
  <div>
    <b>⭐️Thanks to all contributors ⭐️</b>
    <ul>
      <li v-for="author in data">
        <img :title="author.username" :alt="author.username" :src="author.avatarUrl">
        <div class="total" title="Merge requests">{{ author.total }}</div>
      </li>
    </ul>
  </div>
</template>

<style scoped>

ul {
  margin: .5rem 0;
}

img {
  width: 100%;
  border-radius: 50px;
}

li {
  width: 100px;
  overflow: hidden;
  display: inline-block;
  margin: .7rem;
  position: relative;
}

.total {
  background: var(--typo3-grey-dark);
  color: var(--typo3-grey-super-light);
  font-weight: bold;
  padding: 2px;
  display: inline-block;
  min-width: 28px;
  text-align: center;
  border-radius: 14px;
  position: absolute;
  bottom: 0;
  cursor: help;
}
</style>
