<script lang="ts" setup>
import type { DefaultTheme } from 'vitepress/theme'

const props = defineProps<{
  poster: string
  src: string
}>()

</script>

<template>
  <video width="500px" height="500px" controls>
    <source :src="src" type="video/mp4">
    🥹Your browser does not support the video tag.
  </video>
</template>

<style scoped>
video {
  width: 100%;
  object-fit: fill;
}
</style>
