<script lang="ts" setup>
import {useSlots, ref} from "vue";
import {useData,} from 'vitepress'
import mermaid from "mermaid";

const {site, page, theme} = useData()
const color = theme.value.color
const slots = useSlots()
const content = slots.default()[0].children as string
const data = ref("")

mermaid.initialize({
  startOnLoad: true,
  theme: 'dark',
  themeVariables: {
    primaryColor: color.orange,
    primaryBorderColor: color.grayLight,
    secondaryColor: color.orangeLight,
    border1: color.orange,
    labelBoxBkgColor: color.orange,
    mainBkg: color.gray,
  }
});

const randomId = Math.floor(Math.random() * Date.now()) as string;
mermaid.render('mermaid-' + randomId, <string>content).then((svg) => {
  data.value = svg.svg
})

</script>

<template>
  <div v-html="data"></div>
</template>
