<script lang="ts" setup>
import {ref} from "vue";

const data = ref({})
const loading = ref(true)

let emojify = function (mr) {
  let text = mr.title + '<a class="open-mr" title="Show on GitLab.com" href="' + mr.webUrl +'" target="_blank"><img src="gitlab-logo.svg"/></a>'

  if(text.includes('[TASK]')) {
    return text.replace('[TASK]', '<span title="Task">🎯</span>')
  }

  if(text.includes('[BUGFIX]')) {
    return text.replace('[BUGFIX]', '<span title="Bugfix">🐛</span>')
  }

  if(text.includes('[FEATURE]')) {
    return text.replace('[FEATURE]', '<span title="Feature">✨</span>')
  }

  return text
}

let accordion = function (e) {
  const accordionContainer = e.target.parentElement;

  if(accordionContainer.classList.contains('accordion-open')) {
    accordionContainer.classList.remove('accordion-open')
  } else {
    accordionContainer.classList.add('accordion-open')
  }
}

/**
 * Get all MergeRequests
 * https://gitlab.com/gitlab-org/project-templates/typo3-distribution/
 */
fetch('https://gitlab.com/api/graphql', {
  method: 'POST',

  headers: {
    "Content-Type": "application/json"
  },

  body: JSON.stringify({
    query: `{
      project(fullPath: "gitlab-org/project-templates/typo3-distribution") {
        mergeRequests(sort: MERGED_AT_DESC) {
          nodes {
            title
            descriptionHtml
            mergedAt
            state
            webUrl
          }
        }
      }
    }`
  })
})
.then((response) => {
  return response.json()
})
.then((json) => {
  data.value = json.data.project.mergeRequests.nodes
  loading.value = false
})

</script>

<template>
  <div><br>
    🎯 Task - ✨ Feature - 🐛 Bugfix
    <div class="accordion-loading" v-if="loading">Loading changelog...</div>
    <ul class="accordion">
      <li class="accordion-item" v-for="mr in data">
        <div class="accordion-headline" v-html="emojify(mr)" v-on:click="accordion"></div>
        <div class="accordion-body">
          <div v-html="mr.descriptionHtml"></div>
        </div>
      </li>
    </ul>
  </div>
</template>

<style>


ul.accordion {
  margin: 2rem 0;
  padding: 0;
}

.open-mr {
  width: 2rem;
  height: 2rem;
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
}

ul.accordion li.accordion-item {
  position: relative;
  list-style: none;
  padding: 0 !important;
  margin: 0;
  border: 1px solid var(--vp-c-divider);
}

.accordion-headline {
  font-size: 1rem;
  background: var(--vp-sidebar-bg-color);
  padding: .5rem 2.5rem .5rem .5rem;
  cursor: pointer;
  display: flex;
}

.accordion-headline > span {
  height: 100%;
  margin-right: .5rem;
  font-size: 1.4rem;
}

.accordion-body {
  display: none;
  padding: .5rem;
}

.accordion-item.accordion-open .accordion-body {
  display: block !important;
}

.accordion-loading {
  margin: 2rem;
  text-align: center;
}

</style>
